/* TODO : CSS파일을 편집하여 원하는 스타일의 계산기를 만들어보세요 :) */

/* global */
* {
  margin: 0;
  padding: 0;
  border: 0px;
  box-sizing: border-box;
  font-family: monospace, cursive;
  color: #000;
  
}

body {
  background-image: url('./codestates-motif.png');
}

/*
  Calculator styles
*/

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator {
  background-color:red;
  width: 35rem;
  height: 620px;
  border-radius: 5rem;
  padding: 20px 30px;
  border: solid 30px rgb(112, 112, 223);
}

.calculator__display {
  background-color: #ffffff;
  height: 100px;
  width: 100%;
  border-radius: 20px;
  font-size: 20px;
  text-align: end;
  padding: 25px;
  overflow: hidden;
  overflow-wrap: break-word;
}

.calculator__buttons {
  background-color: #ffffff;
  width: 100%;
  height: 400px;
  margin-top: 10px;
  padding: 10px;
  border-radius: 20px;
}

.clear__and__enter {
  height: 60px;
  margin: 10px;
  padding: 5px;
  text-align: right;
  background-color: #f3f0fc;
}

.clear__and__enter > button {
  border-radius: 20px;
  width: 80px;
  height: 40px;
  font-size: large;
  /* margin: 0px 50px; */
  background-color: #00da75;
  cursor: pointer;
  outline: none;
  padding: 0 10px;
  border-bottom: 3px solid #d27082;
}

.number, .operator{
  font-size: x-large;
}



.button__row {
  height: 65px;
  margin: 10px;
  padding: 5px;
  background-color: #f3f0fc;
}

.button__row > button {
  width: 90px;
  height: 60px;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  background-color: #ebebeb;
}

.button__row > .operator {
  color: #ffffff;
  background-color: #313132;
}

.button__row > .double {
  width: 115px;
}

.button__row > .isPressed {
  background-color: #00da75;
}

.logo {
  position: fixed;
  padding: 30px;
  bottom: 0px;
  right: 0px;
}
